<a href="https://colab.research.google.com/github/erickunix/slm/blob/main/projectABA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import sklearn
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [12]:
!unzip "/content/archive.zip" -d "/content/project/"

Archive:  /content/archive.zip
  inflating: /content/project/Walmart_Store_sales.csv

In [14]:
df = pd.read_csv('/content/project/Walmart_Store_sales.csv')

In [15]:
df

      Store        Date  Weekly_Sales  ...  Fuel_Price         CPI  Unemployment
0         1  05-02-2010    1643690.90  ...       2.572  211.096358         8.106
1         1  12-02-2010    1641957.44  ...       2.548  211.242170         8.106
2         1  19-02-2010    1611968.17  ...       2.514  211.289143         8.106
3         1  26-02-2010    1409727.59  ...       2.561  211.319643         8.106
4         1  05-03-2010    1554806.68  ...       2.625  211.350143         8.106
...     ...         ...           ...  ...         ...         ...           ...
6430     45  28-09-2012     713173.95  ...       3.997  192.013558         8.684
6431     45  05-10-2012     733455.07  ...       3.985  192.170412         8.667
6432     45  12-10-2012     734464.36  ...       4.000  192.327265         8.667
6433     45  19-10-2012     718125.53  ...       3.969  192.330854         8.667
6434     45  26-10-2012     760281.43  ...       3.882  192.308899         8.667

[6435 rows x 8 columns]